*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.wrapper{
  width: 500px;
  position: relative;
}

.searchBar{
    padding:  20px;
    padding-left: 60px;
    font-size: 20px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ddd;
}

.iconSearch{
    position: absolute;
    height: 80%;
    left: 20px;
    font-size: 1.5rem;
    top: 10%;
}

.bg-button{
    height: 60%;
    background-color: aqua;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 10px;
    position:absolute;
    right: 18px;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.addButton{
    font-size: 1.2rem;
}