@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    line-height: 1.5;
    font-family: 'Inter',sans-serif;
}

li{
    list-style: none;

}

/* utility */
.flex{
    display: flex;
    justify-content: space-between;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}


.todoHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 500%;
}

/* SearchBar */

.wrapper{
  width: 500px;
  position: relative;
}

.searchBar{
    padding:  20px;
    padding-left: 60px;
    font-size: 20px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ddd;
}

.iconSearch{
    position: absolute;
    height: 80%;
    left: 20px;
    font-size: 1.5rem;
    top: 10%;
}

.bg-button{
    height: 60%;
    background-color: #ddf8dd;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 10px;
    position:absolute;
    right: 18px;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.searchButton{
    font-size: 1.1rem;
}

/* SortandFilter */
.sortFilter{
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 20px;
}

.sortWrapper,.filterWrapper{
    position: relative;
}

.sort, .filter{
  width: 200px;
  padding: 10px 0;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sortItems, .filterItems{
    position: absolute;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 200px;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
    display: none;  
}

.listItems{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 0;
}

/* Checkbox */
.checkbox-round{
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #90EE90;
    
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #005CC8;
    /* border-color: white; */
    border: 2px solid #90EE90;
}


/* TaskItem */
.task-content{
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
}


.task-heading{
  align-items: center;
}

.taskName{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}

.labelColor{
  background-color: #90EE90;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.taskTools{
    display: flex;
     
}
.editTools,.checkmark{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddf8dd;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.tool{
    font-size: 1.2rem;
}

/* Task-Body */
.task-body{
    margin-top: 10px;
    align-items: end;
    font-size: 14px;
}

.tags{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.tags li{
    background-color: #ddf8dd;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 0px;
}

.circularProgress{
   width: 50px; 
}

/* Add Button */
.addButton{
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #349934;
    font-size: 1.1rem;
    display: flex;
}

.plus-sign{
    margin-right: 10px;
}



